.option {
    display: block;
    padding: 8px;
    border-radius: 8px;
    background: #f8fafc;
    cursor: pointer;
}

.option input {
    margin-right: 8px;
}

.correct {
    color: green;
    background: #e6ffef !important;
}

.wrong {
    color: red;
    background: #fee2e2 !important;
}

.correct-dark {
    color: #006400;
    background: #e6ffef !important;
}

.dimmed {
    opacity: 0.5;
}

.submit-button {
    margin-top: 75px;
}

.checkmark {
    font-weight: bold;
    margin-right: 4px;
}

.cross {
    font-weight: bold;
    margin-right: 4px;
    color: red;
}

.option-label {
    margin-right: 8px;
}

.marker-space {
    display: inline-block;
    width: 16px;
    text-align: center;
}