.option {
    display: block;
    padding: 8px;
    border-radius: 8px;
    background: #f8fafc;
    cursor: pointer;
}

.option input {
    margin-right: 8px;
}

.correct {
    color: green;
    background: #e6ffef !important;
}

.wrong {
    color: red;
    background: #fee2e2 !important;
}

.correct-dark {
    color: #042c04;
    background: #e6ffef !important;
}

.submit-button {
    margin-top: 75px;
}