.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  background: #0b72ff;
  color: #fff;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-green {
  background: #10b981;
}

.btn-purple {
  background: #9333ea;
}

.btn-red {
  background: #ef4444;
}

.card {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.review-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}